.exellent {
    padding: 148px 0 65px 0;
}

.exellent-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.exellent-box__left {
    width: 49.5%;
}

.exellent-box__right {
    width: 100% - 49.5%;
    padding: 137px 0 0 40px;
}

.exellent-item__img {
    position: relative;
    background: #0063D7;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.06);
    width: 59px;
    height: 59px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-bottom: 15px;
}

.exellent-item__img img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.exellent-item__title {
    font-weight: 500;
    font-size: 22px;
    line-height: 130%;
    color: #0F3267;
    margin-bottom: 10px;
}

.exellent-item__desc {
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    color: #0F3267;
}

.exellent-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.exellent-item {
    width: 48%;
    margin-bottom: 50px;
}

.exellent-item:first-child {
    margin-top: 72px;
}

.exellent-item:last-child {
    margin-top: -63px;
}

.exellent-box__right .title {
    font-family: $base-font;
    position: relative;
    text-transform: none;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 120%;
    color: #0F3267;
    margin-bottom: 35px;
}

.exellent-box__right .title::before {
    content: '';
    display: block;
    width: 72px;
    height: 4px;
    background: #94EBDF;
    position: absolute;
    top: -46px;
    left: 0;
}

.exellent-box__right p {
    width: 76%;
}

@media screen and (max-width: 1130px) {
    .exellent {
        padding: 65px 0 65px 0;
    }
    .exellent-box {
        flex-direction: column;
    }
    .exellent-box__left {
        width: 100%;
    }
    .exellent-item {
        width: 23%;
    }
    .exellent-box__right {
        width: 100%;
        padding: 45px 0 0 0px;
    }
    .exellent-item:first-child {
        margin-top: 0;
    }
    .exellent-item:last-child {
        margin-top: 0;
    }
    .exellent-item__title {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .exellent-item {
        width: 49%;
    }
    .exellent-box__right .title {
        font-size: 28px;
    }
    .exellent-box__right p {
        width: 100%;
    }
}

@media screen and (max-width: 575px) {
    .exellent-box {
        flex-direction: column-reverse;
    }
    .exellent-box__right .title {
        font-size: 21px;
        line-height: 124%;
        font-weight: normal;
        margin-bottom: 25px;
    }
    .exellent-box__right p {
        font-weight: normal;
        font-size: 14px;
        line-height: 130%;
    }
    .exellent-box__right .title::before {
        width: 52px;
        top: -24px;
    }
    .exellent-item {
        width: 100%;
        margin-bottom: 48px;
    }
    .exellent-item__img {
        margin-bottom: 13px;
    }
    .exellent-item__title {
        font-weight: 500;
        font-size: 22px;
        line-height: 130%;
        margin-bottom: 9px;
    }
    .exellent-item__desc {
        font-weight: 300;
        font-size: 14px;
        line-height: 150%;
    }
    .exellent-box__right {
        margin-bottom: 36px;
    }
    .exellent {
        padding: 43px 10px 57px 16px;
    }
}