.actions-vn-box {
    padding: 0 0 0 0;
    .desc-vn {
        margin-bottom: 26px;
    }
}

.actions-last {
    min-height: 302px;
    border-radius: 14px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 0 0 70px;
    margin-bottom: 44px;
    .btn-blue {
        max-width: 185px;
        padding: 13px 0 13px 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        text-align: center;
        color: #FFFFFF;
    }
}

.actions-last-content {
    width: 50%;
}

.actions-last__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    color: #142E55;
    margin-bottom: 14px;
}

.actions-last__desc {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #142E55;
    margin-bottom: 25px;
}

.actions-slider {
    border-top: 1px solid #DBDFEA;
    border-bottom: 1px solid #DBDFEA;
    padding: 45px 0 32px 0;
    .actions-item {
        outline: none;
        margin: 0 23.5px;
    }
    .dots {
        align-self: center;
        list-style: none;
        justify-content: center;
        margin: 0;
        padding: 0;
        display: -webkit-box;
        display: flex;
        margin: 18px 0 0 0;
    }
    .dots li {
        margin: 0;
        margin-right: 12px;
    }
    .dots li:last-child {
        margin-right: 0;
    }
    .dots li::before {
        content: '';
        position: static;
        display: inline-block;
        width: 6px;
        height: 6px;
        background: #48C8B7;
        border-radius: 14px;
        -webkit-border-radius: 14px;
        -moz-border-radius: 14px;
        -ms-border-radius: 14px;
        -o-border-radius: 14px;
        cursor: pointer;
        -webkit-transition: all 300ms ease;
        transition: all 300ms ease;
    }
    .dots li.slick-active::before {
        width: 26px;
        background: #214881;
    }
    .dots li button {
        display: none;
    }
}

.actions-slider.slick-dotted {
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .actions-slider .actions-item {
        margin: 0 0 40px 0;
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .actions-last {
        padding: 39px 31px 45px 31px;
        min-height: 296px;
    }
    .actions-last-content {
        width: 100%;
    }
    .actions-last__title {
        font-weight: 500;
        font-size: 18px;
        line-height: 120%;
        margin-bottom: 11px;
    }
    .actions-last__desc {
        font-weight: 500;
        font-size: 12px;
        line-height: 130%;
    }
    .actions-last .btn-blue {
        max-width: 152px;
        font-weight: 600;
        font-size: 12px;
        line-height: 100%;
        padding: 10px 0 10px 0;
    }
}

@media screen and (max-width: 475px) {
    .support {
        padding: 30px 0 99px 0;
    }
    .actions-vn-box .title-vn {
        margin-bottom: 11px;
    }
    .actions-vn-box .desc-vn {
        font-weight: 500;
        font-size: 12px;
        line-height: 130%;
        margin-bottom: 21px;
    }
    .actions-vn-box .actions-last {
        margin-bottom: 29px;
    }
    .actions-vn-box .actions-slider {
        padding: 30px 0 32px 0;
    }
    .actions-vn-box .actions-item--img {
        height: 111px;
        margin-bottom: 20px;
    }
    .actions-vn-box .actions-item--title {
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
    }
}