.footer-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 17px 341px 15px 25px;
    border-top: 1px solid #E8E8E8;
}

.copyright {
    font-weight: normal;
    font-size: 12px;
    line-height: 134.77%;
    color: #2D5389;
}

.footer-page__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 61.2%;
    a {
        font-weight: normal;
        font-size: 12px;
        line-height: 134.77%;
        color: #8B8EA1;
    }
    P {
        font-weight: normal;
        font-size: 12px;
        line-height: 134.77%;
        color: #8B8EA1;
        margin-bottom: 0;
    }
}