.footer-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 17px 341px 15px 25px;
    border-top: 1px solid #E8E8E8;
}

.copyright {
    font-weight: normal;
    font-size: 12px;
    line-height: 134.77%;
    color: #2D5389;
}

.footer-page__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 61.2%;
    a {
        font-weight: normal;
        font-size: 12px;
        line-height: 134.77%;
        color: #8B8EA1;
    }
    P {
        font-weight: normal;
        font-size: 12px;
        line-height: 134.77%;
        color: #8B8EA1;
        margin-bottom: 0;
    }
}

.br-copyright {
    display: none;
}

.ov-block {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 21;
    background: transparent;
}

.ov-block.active {
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 1820px) {
    .footer-page {
        padding: 17px 25px 15px 25px;
    }
    .footer-page__links {
        width: 70%;
    }
}

@media screen and (max-width: 1310px) {
    .footer-page {
        flex-direction: column;
        align-items: center;
    }
    .footer-page__links {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .copyright {
        margin-bottom: 20px;
    }
    .footer-page__links a {
        margin-bottom: 15px;
    }
    .footer-page__links p {
        text-align: center;
    }
}

@media screen and (max-width: 470px) {
    .br-copyright {
        display: block;
    }
    .footer-page {
        align-items: start;
    }
    .footer-page__links {
        align-items: start;
    }
    .copyright {
        margin-bottom: 34px;
    }
    .footer-page__links a {
        margin-bottom: 10px;
    }
    .footer-page__links p {
        text-align: left;
    }
    .footer-page {
        padding: 17px 25px 42px 25px;
    }
}