.decors {
    padding: 45px 0 45px 0;
    border-bottom: 1px solid #DBDFEA;
}

.decors__line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
    a {
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        text-decoration-line: underline;
        color: #2D5389;
    }
}

.decors-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.decors-item {
    max-width: 285px;
    width: 100%;
}

.decors-item__img {
    height: 125px;
    border-radius: 14px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 13px;
}

.decors-item__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #142E55;
    margin-bottom: 3px;
}

.decors-item__code {
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    color: #8B8EA1;
}

@media screen and (max-width: 1260px) {
    .decors-item {
        max-width: initial;
        width: 31%;
    }
}

@media screen and (max-width: 575px) {
    .decors-item__img {
        height: 120px;
        margin-bottom: 10px;
    }
    .decors-item__name {
        font-size: 14px;
    }
    .decors-items {
        flex-wrap: wrap;
    }
    .decors-item {
        max-width: initial;
        width: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 475px) {
    .lk-main .decors {
        display: none;
    }
}