.slogan {
    padding: 203px 0 120px 0;
    position: relative;
    background: url(../img/slogan-bg.jpg) no-repeat center;
    background-size: cover;
    z-index: 5;
}

.slogan:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(45, 83, 137, 0.75);
    z-index: -1;
}

.slogan__text {
    font-family: $geometria;
    position: relative;
    font-weight: normal;
    font-size: 38px;
    line-height: 124%;
    color: #FFFFFF;
    width: 49%;
    margin-bottom: 29px;
}

.slogan__text::before {
    content: '';
    display: block;
    width: 28.04px;
    height: 22.7px;
    background: url(../img/svg/qoute.svg) no-repeat center;
    position: absolute;
    top: -28px;
    left: -27px;
}

.slogan-desc {
    font-family: $geometria;
    font-style: italic;
    font-weight: 300;
    font-size: 13px;
    line-height: 124%;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.slogan-name {
    font-family: $geometria;
    font-weight: normal;
    font-size: 21px;
    line-height: 124%;
    color: #FFFFFF;
}

.slogan-podpis {
    margin: 17px 0 0 168px;
}

.img-wrap {
    width: 100%;
    height: 0;
    overflow: hidden;
    position: relative;
}

.img-wrap>img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: center;
}

.slogan .img-wrap {
    max-width: 878px;
    width: 100%;
    padding-bottom: 55.12%;
}

.slogan-man {
    position: absolute;
    right: -268px;
    bottom: -120px;
}

@media screen and (max-width: 1330px) {
    .img-wrap>img {
        object-fit: contain;
    }
    .slogan__text::before {
        left: 0;
    }
}

@media screen and (max-width: 1130px) {
    .slogan {
        padding: 70px 0 70px 0;
    }
    .slogan__text {
        width: 100%;
    }
    .slogan .img-wrap {
        position: relative;
        right: initial;
        bottom: -70px;
        max-width: 100%;
        width: 100%;
        padding-bottom: 78.12%;
    }
    .slogan-podpis {
        margin: 17px 0 35px 0;
    }
}

@media screen and (max-width: 768px) {
    .slogan__text {
        font-size: 28px;
    }
    .slogan-podpis {
        margin: 17px 0 -93px 0;
    }
}

@media screen and (max-width: 575px) {
    .slogan-podpis {
        width: 90px;
        height: 77px;
        margin: -8px 11px -93px 0;
        float: right;
    }
    .slogan__text {
        font-weight: normal;
        font-size: 21px;
        line-height: 124%;
        margin-bottom: 18px;
    }
    .slogan-desc {
        font-weight: 300;
        font-size: 12px;
        line-height: 124%;
        margin-bottom: 5px;
    }
    .slogan-name {
        font-size: 18px;
        line-height: 124%;
    }
    .slogan .img-wrap {
        margin-left: 15px;
        bottom: -61px;
    }
    .slogan {
        padding: 64px 11px 61px 11px;
    }
    .slogan__text::before {
        top: -39px;
        left: 1px;
    }
}

@media screen and (max-width: 414px) {
    .slogan .img-wrap {
        position: relative;
        right: initial;
        width: 473px;
        max-width: initial;
        padding-bottom: 99.735%;
    }
}

@media screen and (max-width: 320px) {
    .slogan .img-wrap {
        position: relative;
        right: initial;
        width: 473px;
        max-width: initial;
        padding-bottom: 133.455%;
    }
}