.slider-wrap {
    padding: 0 0 0 0;
    margin: -502px 0 120px 0;
}

.slider {
    position: relative;
    z-index: 10;
    margin: 0 -12px 0 0;
    .slick-dots {
        height: 100%;
        left: 59px;
        top: 157px;
        width: fit-content;
        text-align: center;
        bottom: initial;
    }
    .slick-dots li {
        display: block;
        width: 8px;
        height: 8px;
        background: #fff;
        border: 1px solid #0063D7;
        border-radius: 50%;
        box-sizing: border-box;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        margin: 0;
        margin-bottom: 55px;
        transition: all .2s linear;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -ms-transition: all .2s linear;
        -o-transition: all .2s linear;
    }
    .slick-dots li button {
        opacity: 0;
        width: 16px;
        height: 16px;
        padding: 0;
        background: #0063D7;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        margin-bottom: 50px;
        position: absolute;
        left: 50%;
        margin-left: -8px;
        top: 50%;
        margin-top: -8px;
        transition: all .1s linear;
        -webkit-transition: all .1s linear;
        -moz-transition: all .1s linear;
        -ms-transition: all .1s linear;
        -o-transition: all .1s linear;
    }
    .slick-dots li.slick-active button {
        opacity: 1;
    }
    .slick-dots li:hover button {
        opacity: 1;
    }
    .slick-dots li.slick-active {
        background: none;
        border: none;
    }
    .slick-dots li button:before {
        content: '';
        display: block;
        height: 1px;
        width: 62px;
        background: #0063D7;
        position: absolute;
        left: -85px;
        top: 50%;
        margin-top: 2px;
        opacity: 1;
    }
}

.slider__item-text {
    max-width: 945px;
    width: 100%;
    padding: 39px 55px 0 55px;
    min-height: 577px;
    font-family: $geometria;
    font-weight: normal;
    font-size: 22px;
    line-height: 124%;
    color: #0E3267;
    box-sizing: border-box;
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    overflow: hidden;
    backdrop-filter: blur(1.5px);
}

.slider__item-text:after {
    content: '';
    position: absolute;
    width: 100%;
    // background: linear-gradient(207.76deg, #FFFFFF 26.88%, rgba(255, 255, 255, 0) 57.01%), linear-gradient(352.24deg, #FFFFFF 16.93%, rgba(255, 255, 255, 0) 80.72%), url(shutterstock_1145432822.jpg);
    // filter: blur(12px);
    // transform: matrix(-1, 0, 0, 1, 0, 0);
    // background: url(../img/top-bg.jpg) no-repeat center;
    // filter: blur(12px);
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -2;
    background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 58.32%), #F7F7F7;
    opacity: 0.79;
}

// .slider__item-text::before {
//     content: '';
//     background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 58.32%), #F7F7F7;
//     opacity: 0.79;
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     right: 0;
//     left: 0;
//     bottom: 0;
//     z-index: -1;
// }
.slider__item-img {
    max-width: 1115px;
    width: 100%;
    min-height: 609px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    outline: none;
    border-radius: 5px;
    position: relative;
    margin: 150px 0 0 124px;
    z-index: 10;
}

.slider__item {
    position: relative;
    z-index: 50;
    outline: none;
    width: 100%;
    height: 100%;
}

.slider__item-img-mobile {
    display: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 224px;
    height: 453px;
    width: 100%;
}

@media screen and (max-width: 1330px) {
    .slider {
        margin: 0 80px 0 80px;
    }
    .slider__item-img {
        margin: 150px 0 0 110px;
        max-width: 800px;
        min-height: 437px;
    }
}

@media screen and (max-width: 1130px) {
    .slider__item-img {
        margin: 150px 0 0 150px;
        max-width: 600px;
        min-height: 326px;
    }
    .slider__item {
        overflow: hidden;
    }
}

@media screen and (max-width: 992px) {
    .slider {
        margin: 0 45px 0 45px;
    }
    .slider__item-text {
        max-width: 100%;
        padding: 17px 55px 15px 52px;
        min-height: auto;
        position: relative;
        margin-bottom: 25px;
    }
    .slider .slick-dots {
        height: 100%;
        left: -25px;
        top: 7px;
    }
    .slider .slick-dots li:before {
        content: none;
    }
    .slider .slick-dots li button:before {
        content: none;
    }
    .slider__item-img {
        margin: 0;
        max-width: 100%;
        min-height: 376px;
    }
    .slider .slick-dots li:hover button {
        opacity: 0;
    }
    .slider .slick-dots li:active button {
        opacity: 1;
    }
    .slider .slick-dots li.slick-active button {
        opacity: 1;
    }
}

@media screen and (max-width: 660px) {
    .slider__item-img {
        background-size: contain;
    }
    .slider__item-text {
        font-size: 18px;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 575px) {
    .slider__item-text:after {
        content: none;
    }
    .slider.slick-initialized .slick-slide {
        display: flex;
        flex-direction: column-reverse;
    }
    .slider__item-img {
        display: none;
    }
    .slider__item-img-mobile {
        display: block;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        margin: 0 auto;
    }
    .slider {
        margin: 0 -10px 0 -10px;
    }
    .slider .slick-dots {
        height: auto;
        left: initial;
        top: initial;
        bottom: -22px;
        width: 100%;
    }
    .slider .slick-dots li {
        display: inline-block;
        margin: 0 20px;
        width: 7px;
        height: 7px;
    }
    .slider__item-text {
        text-align: center;
        font-weight: normal;
        font-size: 14px;
        line-height: 124%;
        padding: 25px 41px 15px 42px;
    }
    .slider-wrap {
        margin: -436px 0 10px 0;
    }
    .slick-dotted.slick-slider {
        margin-bottom: 61px;
    }
}

svg {
    height: 0;
    width: 0;
    position: absolute;
    z-index: 0;
}