form.filter {
    max-width: 214px;
    width: 100%;
    padding: 27px 0 0 0;
    border: none;
    border-top: 1px solid #E8E8E8;
    margin: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    .checked+span {
        color: #142E55;
    }
}

.search-box {
    position: relative;
    z-index: 5;
    margin-bottom: 24px;
}

input[type=search] {
    height: 42px;
    border: 1px solid #8B8EA1;
    box-sizing: border-box;
    border-radius: 14px;
    padding: 0 42px 0 21px;
}

.btn-serch {
    position: absolute;
    width: 14px;
    height: 14px;
    background: url(../img/svg/search-ico.svg) no-repeat center;
    top: 8px;
    right: 14px;
    z-index: 10;
}

.filter-item {
    margin-bottom: 26px;
}

.filter-item__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: #142E55;
    margin-bottom: 14px;
}

.filter-item label {
    display: block;
    margin-bottom: 14px;
}

.filter-item label span {
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
    color: #8B8EA1;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin: 5px 0 0 14px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -ms-transition: all .1s linear;
    -o-transition: all .1s linear;
}

.filter-item label span:hover {
    color: #142E55;
}

.submit-filter {
    max-width: 140px;
}

.filter-show-hide {
    display: none;
    background-color: #F0F0F0;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: #142E55;
    padding: 14px 0 14px 0;
    text-align: center;
    background-image: url(../img/svg/setting-ico.svg);
    background-repeat: no-repeat;
    background-position: 68% center;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    margin-bottom: 28px;
}

@media screen and (max-width: 992px) {
    form.filter {
        max-width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 35px;
    }
    .search-box {
        flex-shrink: 0;
        width: 100%;
    }
    .filter-item {
        width: 33%;
        text-align: center;
        margin-bottom: 10px;
    }
    .submit-filter {
        max-width: 100%;
        flex-shrink: 0;
    }
    .filter-item label {
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 767px) {
    .decors-cat-box .decors-item {
        width: 48%;
    }
}

@media screen and (max-width: 575px) {
    .filter-box {
        margin-bottom: 28px;
    }
    .filter-show-hide {
        display: block;
    }
    .decors-cat-tabs {
        margin-bottom: 25px;
    }
    form.filter {
        display: none;
    }
    .decors-cat-box .decors-item {
        width: 100%;
        margin-bottom: 35px;
    }
    .decors-cat-box .decors-item__img {
        height: 125px;
    }
    .decors-cat-box .decors-item__name {
        font-size: 16px;
    }
    .filter-item {
        width: 100%;
        text-align: left;
        margin-bottom: 26px;
    }
    form.filter {
        flex-direction: column;
        align-items: start;
        padding: 22px 0 0 0;
    }
    .filter-item label {
        margin-bottom: 14px;
    }
    .submit-filter {
        max-width: 140px;
    }
    .filter-show-hide.active {
        background-image: url(../img/svg/close-filter-ico.svg);
        background-color: transparent;
    }
}

@media screen and (max-width: 430px) {
    .filter-show-hide {
        padding: 14px 27px 14px 0;
        text-align: center;
    }
}