.support-vn-box {
    padding: 0 0 97px 0;
    .title-vn {
        margin-bottom: 24px;
    }
}

.support-tabs {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: start;
    z-index: 5;
    margin-bottom: 30px;
    a {
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        color: #8B8EA1;
        padding: 0 0 29px 0;
        border-bottom: 2px solid;
        border-color: transparent;
        margin-right: 26px;
    }
    a.active {
        color: #142E55;
        border-color: #142E55;
    }
    a:hover {
        color: #142E55;
        border-color: #142E55;
    }
    a:last-child {
        margin-right: 0;
    }
}

.support-tabs::after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: #DBDFEA;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.support-elem {
    background: #FFFFFF;
    border: 1px solid #DBDFEA;
    box-sizing: border-box;
    border-radius: 14px;
}

.quest-item {
    border-bottom: 1px solid #DBDFEA;
    padding: 30px 41px 38px 42px;
}

.quest-item-show {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-show-info-quest {
    display: block;
    max-width: 27px;
    width: 100%;
    height: 27px;
    background: url(../img/svg/arr-quest.svg) no-repeat center;
    margin-right: 16px;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
}

.quest-item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 134%;
    color: #142E55;
}

.quest-item-hide {
    opacity: 0;
    height: 0;
    visibility: hidden;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
}

.quest-item-hide--text {
    padding: 30px 0 12px 0;
    p {
        font-weight: normal;
        font-size: 12px;
        line-height: 150%;
        color: #142E55;
        margin-bottom: 19px;
    }
}

.quest-item-hide--btns {
    span {
        display: block;
        font-weight: 500;
        font-size: 12px;
        line-height: 150%;
        color: #8B8EA1;
        margin-bottom: 10px;
    }
    a {
        font-size: 12px;
        line-height: 100%;
        display: inline-block;
        vertical-align: top;
        margin-right: 5px;
        max-width: 73px;
        padding: 9px 0 9px 0;
    }
}

.quest-item.active .btn-show-info-quest {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.quest-item.active .quest-item-hide {
    opacity: 1;
    visibility: visible;
    height: 100%;
}