.support-vn-box {
    padding: 0 0 97px 0;
    .title-vn {
        margin-bottom: 24px;
    }
}

.support-tabs {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: start;
    z-index: 5;
    margin-bottom: 30px;
    a {
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        color: #8B8EA1;
        padding: 0 0 29px 0;
        border-bottom: 2px solid;
        border-color: transparent;
        margin-right: 26px;
    }
    a.active {
        color: #142E55;
        border-color: #142E55;
    }
    a:hover {
        color: #142E55;
        border-color: #142E55;
    }
    a:last-child {
        margin-right: 0;
    }
}

.support-tabs::after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: #DBDFEA;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.support-elem {
    background: #FFFFFF;
    border: 1px solid #DBDFEA;
    box-sizing: border-box;
    border-radius: 14px;
}

.quest-item {
    border-bottom: 1px solid #DBDFEA;
    padding: 30px 41px 38px 42px;
}

.quest-item-show {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-show-info-quest {
    display: block;
    max-width: 27px;
    width: 100%;
    height: 27px;
    background: url(../img/svg/arr-quest.svg) no-repeat center;
    margin-right: 16px;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
}

.quest-item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 134%;
    color: #142E55;
}

.quest-item-hide {
    opacity: 0;
    height: 0;
    visibility: hidden;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
}

.quest-item-hide--text {
    padding: 30px 0 12px 0;
    p {
        font-weight: normal;
        font-size: 12px;
        line-height: 150%;
        color: #142E55;
        margin-bottom: 19px;
    }
}

.quest-item-hide--btns {
    span {
        display: block;
        font-weight: 500;
        font-size: 12px;
        line-height: 150%;
        color: #8B8EA1;
        margin-bottom: 10px;
    }
    a {
        font-size: 12px;
        line-height: 100%;
        display: inline-block;
        vertical-align: top;
        margin-right: 5px;
        max-width: 73px;
        padding: 9px 0 9px 0;
    }
}

.quest-item.active .btn-show-info-quest {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.quest-item.active .quest-item-hide {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

.new-request-form {
    margin: 0;
    padding: 29px 41px 0 41px;
    max-width: 100%;
    border: none;
    .title {
        font-family: $base-font;
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        color: #142E55;
        margin-bottom: 15px;
        text-transform: none;
    }
    .desc {
        font-weight: normal;
        font-size: 12px;
        line-height: 150%;
        color: #142E55;
        margin-bottom: 29px;
    }
    .new-request-form__item {
        display: inline-block;
        vertical-align: top;
        width: 48.55%;
        margin-right: 19px;
        margin-bottom: 10px;
    }
    .new-request-form__item:nth-child(2n) {
        margin-right: 0;
    }
    .jq-selectbox__select {
        height: 45px;
        padding: 14px 28px 0px 18px;
    }
    .new-request-form__item-message {
        width: 100%;
    }
    .jq-selectbox__dropdown {
        padding: 12px 10px 13px 10px;
    }
    .jq-selectbox ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        flex-direction: column;
    }
    .jq-selectbox ul li {
        width: 100%;
        margin-bottom: 20px;
    }
    .jq-selectbox ul li:last-child {
        margin-bottom: 0;
    }
}

textarea {
    border: 1px solid #DBDFEA;
    box-sizing: border-box;
    border-radius: 8px;
    width: 100%;
    padding: 15px;
    outline: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
    color: #142E55;
    resize: none;
    min-height: 179px;
    margin-bottom: 23px;
}

.new-request-form__item-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0 39px 0;
    .btn-blue {
        max-width: 156px;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        padding: 13px 0 13px 0;
        margin: 4px 0 0 0;
    }
}

.file {
    display: flex;
    flex-direction: row;
    justify-content: start;
    position: relative;
    align-items: center;
    width: 43%;
    label {
        margin: 1px 0 0 0;
        width: fit-content;
        font-weight: 500;
        font-size: 12px;
        line-height: 100%;
        text-align: left;
        color: #142E55;
        padding: 7px 0 5px 35px;
        background: url(../img/svg/file-ico.svg) no-repeat left center;
        cursor: pointer;
    }
    #file {
        display: none;
    }
}

.jq-file__browse {
    display: none;
}

.jq-file__name {
    border: 1px solid #DBDFEA;
    box-sizing: border-box;
    border-radius: 8px;
    max-width: 187px;
    padding: 14px 16px 0 16px;
    font-weight: 500;
    font-size: 12px;
    text-align: left;
    color: #8B8EA1;
    height: 40px;
    outline: none;
}

.jq-file input {
    border: 1px solid #DBDFEA;
    box-sizing: border-box;
    border-radius: 8px;
    max-width: 187px;
    padding: 0 16px 0 16px;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    color: #8B8EA1;
    height: 40px;
    outline: none;
}

.remove-val {
    position: absolute;
    display: none;
    width: 10px;
    height: 10px;
    background: url(../img/svg/file-remove-ico.svg) no-repeat left center;
    cursor: pointer;
    top: -5px;
    right: 25px;
}

.tabs-checkbox {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-bottom: 24px;
}

.tabs-checkbox__item {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-right: 41px;
    .jq-radio {
        min-width: 22px;
        width: 100%;
        display: inline-block;
        vertical-align: top;
        margin-right: 8px;
    }
    label span {
        font-weight: normal;
        font-size: 14px;
        line-height: 100%;
        color: #142E55;
        cursor: pointer;
    }
}

.tabs-checkbox__item:last-child {
    margin-right: 0;
}

#support3 {
    border: none;
}

.history-request {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.history-request__item {
    background: #FFFFFF;
    border: 1px solid #DBDFEA;
    box-sizing: border-box;
    border-radius: 14px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.history-request__item-show {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 29px 71px 39px 42px;
}

.history-request__item-hide {
    opacity: 0;
    visibility: hidden;
    height: 0;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
}

.btn-show-history-request {
    position: relative;
    display: block;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #0063D7;
    margin-right: 11px;
}

.btn-show-history-request::before {
    content: '';
    display: block;
    width: 10px;
    height: 6px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/svg/arr-req-blue.svg) no-repeat center;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
}

.btn-show-history-request:hover {
    background: #0063D7;
}

.btn-show-history-request:hover:before {
    background: url(../img/svg/arr-req-white.svg) no-repeat center;
}

.number-request {
    display: inline-block;
    vertical-align: top;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: #142E55;
    margin: 6px 0 0 0;
}

.history-request-cell {
    position: relative;
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
    color: #8B8EA1;
    span {
        color: #142E55;
    }
}

.history-request-cell::after {
    content: '';
    display: block;
    height: 29px;
    width: 1px;
    background: #DBDFEA;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -42px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.history-request-cell:last-child::after {
    content: none;
}

.history-request__item.active .history-request__item-hide {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

.history-request__item.active .btn-show-history-request {
    background: #0063D7;
}

.history-request__item.active .btn-show-history-request:before {
    background: url(../img/svg/arr-req-white.svg) no-repeat center;
}

.history-request__item.active .btn-show-history-request:hover {
    background: #fff;
}

.history-request__item.active .btn-show-history-request:hover::before {
    background: url(../img/svg/arr-req-blue.svg) no-repeat center;
}

.message-item {
    box-sizing: border-box;
    width: 81.608%;
    float: left;
    margin-bottom: 19px;
    p {
        border-radius: 14px;
        border: 1px solid #8B8EA1;
        padding: 15px 30px;
        font-weight: normal;
        font-size: 12px;
        line-height: 150%;
        color: #142E55;
        margin-bottom: 11px;
    }
    .message-info {
        text-align: left;
    }
}

.message-item--me {
    float: right;
    p {
        background: #F0F0F0;
        border-radius: 14px;
        border: none;
    }
    .message-info {
        text-align: right;
    }
}

.messages-box {
    padding: 0 42px 0 42px;
    margin: -8px 0 0 0;
}

.message-info {
    div {
        display: inline-block;
        vertical-align: top;
        font-weight: 500;
        font-size: 10px;
        line-height: 100%;
        color: #8B8EA1;
    }
}

.message-info--date {
    margin-right: 8px;
}

.history-request__item {
    form {
        padding: 0 42px 0 42px;
        margin: 13px 0 0 0;
        border: none;
        width: 100%;
        box-sizing: border-box;
        max-width: 100%;
    }
    textarea {
        min-height: 45px;
        height: 100%;
        padding: 12px 15px 0 15px;
    }
    .new-request-form__item-bottom {
        margin: -10px 0 0 0;
    }
}