.header-vn {
    padding: 28px 0 22px 0;
    border: 1px solid #DBDFEA;
}

.header-vn-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart {
    display: block;
    position: relative;
    width: 21px;
    height: 21px;
    background: url(../img/svg/cart-ico.svg) no-repeat center;
    margin-right: 38px;
    z-index: 1;
    cursor: pointer;
    span {
        position: absolute;
        top: -5px;
        right: -10px;
        width: 19px;
        height: 19px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background: #48C8B7;
        font-weight: 500;
        font-size: 10px;
        line-height: 130%;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
    }
}

.header-pers-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 0 0;
}

.avatar-profile {
    display: inline-block;
    vertical-align: top;
    width: 32px;
    height: 32px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 15px;
}

.avatar-default {
    background-color: #0063D7;
    background-image: url(../img/svg/avatar-default.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 42%;
}

.name-profile {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #142E55;
    margin-top: -3px;
}

.name-profile::after {
    content: '';
    display: block;
    width: 7px;
    height: 4px;
    background: url(../img/svg/arr-name.svg) no-repeat center;
    position: absolute;
    top: 6px;
    right: -17px;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
}

.name-profile.active::after {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.box-profile {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.box-profile__dropdown {
    position: absolute;
    top: 108px;
    left: 11px;
    background: #FFFFFF;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.06);
    border-radius: 14px;
    min-width: 274px;
    width: 100%;
    z-index: 99;
}

.box-profile__dropdown--top {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background: #F5F6FA;
    padding: 25px 24px 24px 24px;
    border-radius: 14px 14px 0 0;
    -webkit-border-radius: 14px 14px 0 0;
    -moz-border-radius: 14px 14px 0 0;
    -ms-border-radius: 14px 14px 0 0;
    -o-border-radius: 14px 14px 0 0;
    overflow: hidden;
}

.box-profile__dropdown--top::after {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background: #0063D7;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    border-radius: 14px 14px 0 0;
    -webkit-border-radius: 14px 14px 0 0;
    -moz-border-radius: 14px 14px 0 0;
    -ms-border-radius: 14px 14px 0 0;
    -o-border-radius: 14px 14px 0 0;
}

.dropdown-avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #0063D7;
    background-image: url(../img/svg/avatar-default.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 42%;
    margin-right: 14px;
}

.dropdown-info {
    margin: 2px 0 0 0;
    span {
        display: block;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #142E55;
        margin-bottom: -4px;
    }
    i {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        color: #858585;
    }
}

.box-profile__dropdown--middle {
    padding: 18px 24px 12px 24px;
    border-bottom: 1px solid #D7D7D7;
    a {
        display: block;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #142E55;
        margin-bottom: 19px;
    }
}

.box-profile__dropdown--bottom {
    padding: 18px 24px 21px 24px;
    a {
        display: block;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #142E55;
        padding: 2px 0 2px 36px;
        background: url(../img/svg/sign-out.svg) no-repeat left center;
    }
}

.cart-dropdown {
    position: absolute;
    top: 102px;
    right: -10px;
    min-width: 274px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.06);
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    overflow: hidden;
}

.cart-dropdown::after {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background: #0063D7;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    border-radius: 14px 14px 0 0;
    -webkit-border-radius: 14px 14px 0 0;
    -moz-border-radius: 14px 14px 0 0;
    -ms-border-radius: 14px 14px 0 0;
    -o-border-radius: 14px 14px 0 0;
}

.cart-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 25px 28px 0 25px;
}

.cart-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 23px;
}

.cart-item--img {
    width: 80px;
    height: 80px;
    margin-right: 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.cart-item--name {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    color: #142E55;
    padding-bottom: 8px;
    border-bottom: 1px solid #D7D7D7;
}

.cart-item--price {
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    color: #142E55;
    margin: 7px 0 0 0;
}

.cart-item--info {
    min-width: 129px;
    max-width: 129px;
    margin: 8px 0 0 0;
}

.cart-go-cart {
    background: #F6F6F6;
    padding: 18px 24px 21px 24px;
    text-align: center;
    a {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #142E55;
    }
}