.actions-single-vn {
    padding: 0 0 0 0;
    .back-link {
        margin-bottom: 16px;
    }
}

.actions-single-content {
    padding: 0 0 18px 0;
    border-bottom: 1px solid #DBDFEA;
    img {
        border-radius: 14px;
        min-height: 302px;
        margin-bottom: 24px;
    }
    p {
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        color: #142E55;
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 1250px) {
    .actions-single-content img {
        min-height: initial;
    }
}

@media screen and (max-width: 992px) {
    .actions-single-content p {
        font-weight: normal;
        font-size: 12px;
        line-height: 130%;
    }
}