.footer {
    padding: 46px 0 42px 0;
    p,
    a {
        display: block;
        width: fit-content;
        font-weight: normal;
        font-size: 12px;
        line-height: 160%;
        color: #142E55;
        margin-bottom: 0;
    }
    .phone {
        margin: 4px 0 0 0;
    }
    .phone a {
        font-weight: 500;
        font-size: 28px;
        line-height: 100%;
        color: #142E55;
        margin-bottom: 3px;
    }
    .phone span {
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0.16em;
        color: #142E55;
    }
}

.footer-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 760px) {
    .footer-box {
        flex-direction: column-reverse;
        align-items: center;
    }
    .footer-links {
        text-align: center;
    }
    .footer p,
    .footer a {
        margin: 0 auto;
        margin-bottom: 3px;
    }
    .footer .phone {
        margin: 4px 0 20px 0;
    }
}

@media screen and (max-width: 660px) {
    .footer .phone a {
        font-weight: 600;
        font-size: 15px;
        line-height: 100%;
        margin-bottom: -8px;
    }
    .footer .phone span {
        font-weight: 500;
        font-size: 7px;
        line-height: 100%;
        text-align: center;
        letter-spacing: 0.22em;
    }
}

@media screen and (max-width: 575px) {
    .footer {
        padding: 22px 18px 42px 18px;
    }
    .footer-links {
        margin: 25px 0 0 0;
    }
    .footer p,
    .footer a {
        font-size: 12px;
        line-height: 120%;
        margin-bottom: 15px;
    }
}